.wrapper{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
}

.cards__title{
  font-size: 28px;
  margin: 0;
  line-height: 1.5;
  font-weight: 700;
}

.cards__discription{
  font-size: 18px;
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
}

.cards__button{
  max-width: 150px;
  padding: 5px 7px;
  background-color: aqua;
  color: #fff;
  font-size: 18px;
  border:  1px solid aqua;
  border-radius: 5px;
}

.cards__image{
  max-width: 200px;
}

.cards__body{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #000;
}

.cards__content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}